.node--type-recipe.node--view-mode-full .m-pills,
.node--type-srh-recipe.node--view-mode-full .m-pills {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}
.node--type-recipe.node--view-mode-full .clv-label-button-number,
.node--type-recipe.node--view-mode-full .clv-right-aligned-content,
.node--type-recipe.node--view-mode-full .m-tips-comment,
.node--type-srh-recipe.node--view-mode-full .clv-label-button-number,
.node--type-srh-recipe.node--view-mode-full .clv-right-aligned-content,
.node--type-srh-recipe.node--view-mode-full .m-tips-comment {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

@media (min-width: 48rem) {
  .node--type-recipe.node--view-mode-full .clv-label-button-number,
  .node--type-recipe.node--view-mode-full .clv-right-aligned-content,
  .node--type-recipe.node--view-mode-full .m-tips-comment,
  .node--type-srh-recipe.node--view-mode-full .clv-label-button-number,
  .node--type-srh-recipe.node--view-mode-full .clv-right-aligned-content,
  .node--type-srh-recipe.node--view-mode-full .m-tips-comment {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
  }
}
.node--type-recipe.node--view-mode-full .block-addtoany,
.node--type-srh-recipe.node--view-mode-full .block-addtoany {
  display: inline-block;
  vertical-align: top;
}
.node--type-recipe.node--view-mode-full .block-extra-field-blocknoderecipebazaarvoice-rating-summary,
.node--type-recipe.node--view-mode-full .block-extra-field-blocknodesrh-recipebazaarvoice-rating-summary,
.node--type-srh-recipe.node--view-mode-full .block-extra-field-blocknoderecipebazaarvoice-rating-summary,
.node--type-srh-recipe.node--view-mode-full .block-extra-field-blocknodesrh-recipebazaarvoice-rating-summary {
  display: inline-block;
  margin-top: var(--space-xxxxxs);
  padding-left: var(--space-s);
  vertical-align: top;
}
