.m-share__icon {
  width: 32px;
  height: 32px;
}
.m-share__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--theme-color-accent-1, #3b73a9);
  border-radius: 50%;
  line-height: 0;
}
.m-share__list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

/* some important styles as it recommended on
  https://www.addtoany.com/buttons/customize/square_icons
*/

.a2a_svg,
.a2a_count {
  border-radius: 50% !important;
}

.a2a_svg {
  width: 32px !important;
  height: 32px !important;
  background-color: transparent !important;
}

.a2a_svg path {
  fill: var(--theme-color-accent-1, #3b73a9) !important;
}

.addtoany_list > a {
  display: flex !important;
  padding: 0;
  border: 1px solid var(--theme-color-accent-1, #3b73a9) !important;
}
