/* Footer Animation */

@keyframes shake {
  0% {
    transform: translate(0);
  }

  30% {
    transform: translate(5px);
  }

  50% {
    transform: translate(0);
  }

  80% {
    transform: translate(-5px);
  }

  100% {
    transform: translate(0);
  }
}

.m-socials {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  gap: 14px;
}

.m-socials__icon {
  width: 24px;
  height: 24px;
  fill: var(--theme-color-text-inverted, #fff);
}

.m-socials__link:hover .m-socials__icon {
  fill: var(--theme-color-accent-1, #3b73a9);
}

.m-socials__item {
  flex-shrink: 0;
}

.m-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition-base);
  border: 1px solid var(--theme-color-text-inverted, #fff);
  border-radius: 3px;
}

.m-socials__link:hover {
  background-color: var(--theme-color-text-inverted, #fff);
}
