:root {
  --window-height: 100vh;
  --site-layout-clv-brand-logo-height: 6.125rem;
  --site-layout-header-mobile-height: 3.125rem;
  --site-layout-sidebar-sticky-bottom-height: var(--window-height);
  --site-layout-main-nav-background-height: 3.25rem;
}
.paragraph--type--slide.paragraph--view-mode--small .a-text--h1 {
  font-size: var(--paragraph-slider-title-size, var(--theme--font-size-header-1, 2rem));
}
.paragraph--type--slide.paragraph--view-mode--small .a-text--body {
  font-size: var(--paragraph-slider-description-size, var(--font-size--base));
}
